{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Владислав - автор этого проекта</h1>
<p>
  Тут я размещу информацию о себе используя свои умения верстать. Но в другой раз т.к. не укладываюсь в дедлайн.
  Чтобы сократить время решил применить сразу все важные комментарии других студентов по ревью. 
  Например перенес все константы в один файл settings и немного изменил тесты.
  Надеюсь что всё успею. А-то здоровье подвело, операции отняли силы и время, а быть отчисленным не хочется...
</p>
{% endblock %}