{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Технологии</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"<hr>
    Буду лаконичен: применил знания из Яндекс-Практикума, немного из Stepik и много из "Всея интернета". 
    А также очень много взял знаний, опыта и подсказок из чата студентов в Пачке. Применил даже часть ревью.
    Надеюсь что успешно...
    </p>
  </article>
</div>
{% endblock %}